<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author detail</title>
</head>
<body>
<div>
    <p><strong>name</strong>{{author.first_name}}-{{author.last_name}}</p>
</div>
<div>
    <p><strong>email</strong>{{author.email}}</p>
</div>
<div>
    <p><strong>bio</strong>{{author.bio}}</p>
</div>
<div><h1>{{author.last_name}}'s posts</h1></div>
<div>
    {% for post in posts %}
        <li>
            <a href="{% url 'PostDetail' post.pk %}">{{post.title}}</a>
        <li>

    {% endfor %}
</div>
</body>
</html>